.Rproj.user
.Rhistory
.RData
*.Rproj
*.DS_Store
data-raw/from_Hu.csv
data-raw/LISSY/net_sqrt_ru_all.txt
data-raw/article_data/*
data-raw/OECD2008.pdf
dev/*
R/dcpo.R
R/temp.stan
R/ notes.txt
R/estimate_swiid/all*rds
SWIIDv5_0.RData
vignette/reference/*
vignette/*.dta
vignette/R_swiid.tex
vignette/cache
vignette/figure
vignette/framed.sty
vignette/pwt90.xlsx
vignette/*.rda
vignette/*.dta
vignette/*.csv
data/lis_only_*.rda
data/lis_gt*.rda
data/all_*.rda
data/series_gt*.rda
data-raw/ to_add/
updating_swiid_paper/updating_swiid.tex
*.bbl
*.log
*.out
*.blg
*.fls
*.aux
release/*
*.synctex.gz


