.Rproj.user
.Rhistory
.RData
*.Rproj
*.DS_Store
book/
data-raw/from_Hu.csv
data-raw/LISSY/net_sqrt_ru_all.txt
data-raw/article_data/*
data-raw/OECD2008.pdf
data-raw/ to_add/
dev/*
paper/how_to_switch*
paper/updating_swiid_*
paper/word-styles-reference-01.docx
paper/slides/Solt_KIRL*
R/dcpo.R
R/temp.stan
R/ notes.txt
R/estimate_swiid/all*rds
R/estimate_swiid/precursors
SWIIDv5_0.RData
vignette/reference/*
vignette/*.dta
vignette/R_swiid.tex
vignette/cache
vignette/figure
vignette/framed.sty
vignette/pwt*
vignette/*.rda
vignette/*.dta
vignette/*.csv
data/swiid_estimates/*
data/lis_only_*.rda
data/lis_gt*.rda
data/all_*.rda
data/series_gt*.rda
data/by_country/
data/by_fold/
updating_swiid_paper/updating_swiid.tex
paper/lit/
*.bbl
*.log
*.out
*.blg
*.fls
*.aux
release/*
*.synctex.gz


