.Rproj.user
.Rhistory
.RData
*.Rproj
data-raw/from_Hu.csv
data-raw/LISSY/net_sqrt_ru_all.txt
data-raw/article_data/*
data-raw/OECD2008.pdf
dev/*
R/dcpo.R
R/temp.stan
SWIIDv5_0.RData
vignette/reference/*
vignette/*.dta
data/lis_only_*.rda
data/lis_gt*.rda
data/all_*.rda
data/series_gt*.rda
